@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgba(245, 241, 8, 0.795);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: $primary;
    padding: 1em 0;

    a {
        color: rgb(10, 9, 9);
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

    
    h1{
    
        padding: auto;
        color: rgb(206, 19, 19);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: oblique;
        font-weight: bold;
        
        
    }


.container {
    position: relative;
    text-align: center;
    color: white;
  }
  

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  